* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    min-height: 76vh;
    padding: 3rem;
}

#memo_grid {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}